---
import PrimaryLayout from '../layouts/PrimaryLayout.astro'
---

<PrimaryLayout>
  <ul>
    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, consectetur! Nostrum, suscipit voluptatem veniam voluptates nobis obcaecati exercitationem eum eos aliquid cupiditate. Itaque ullam necessitatibus, magni nemo reiciendis dolores id.</li>
    <li>Magnam repellendus sint inventore impedit asperiores rem laudantium laborum enim veniam ex. Veniam at facere aspernatur mollitia natus ex repellendus minus fugit neque saepe doloribus, inventore, molestias perspiciatis eos rem.</li>
    <li>Minus saepe cupiditate ducimus doloribus. Recusandae officiis quia quaerat nemo alias. Alias perferendis nesciunt ea enim quod, obcaecati unde deleniti repudiandae laborum similique cum. Praesentium, tenetur! Suscipit beatae animi maxime?</li>
    <li>Nisi ea delectus, repudiandae temporibus, omnis reiciendis error perspiciatis aliquid enim esse at iure libero voluptates. Adipisci alias nisi, nesciunt doloribus maiores dignissimos, laudantium labore sed eaque assumenda ipsam magni.</li>
    <li>Enim molestiae harum modi commodi, quam atque voluptatibus ab consectetur eius deleniti, nobis cumque assumenda nostrum esse perferendis in repellendus beatae nulla earum corrupti! Quaerat minus dolores ex dolorum? Quidem?</li>
  </ul>
  <!-- Header -->
  <!-- three-cols -->
    <!-- Featured article -->
    <!-- New articles -->
  <!-- three-cols -->
    <!-- Popular articles -->
</PrimaryLayout>