---
import PrimaryLayout from '../layouts/PrimaryLayout.astro'
---

<PrimaryLayout>
  <h1>Hello World!!!</h1>
  <!-- Header -->
  <!-- three-cols -->
    <!-- Featured article -->
    <!-- New articles -->
  <!-- three-cols -->
    <!-- Popular articles -->
</PrimaryLayout>